USE [master]
GO
/****** Object:  Database [ExternalServer]    Script Date: 10-Jan-19 4:57:56 PM ******/
CREATE DATABASE [ExternalServer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExternalServer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ExternalServer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExternalServer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ExternalServer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExternalServer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExternalServer]
GO
USE [ExternalServer]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-Jan-19 4:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[ItemType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category_Data]    Script Date: 10-Jan-19 4:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Data](
	[Id] [uniqueidentifier] NULL,
	[ItemType] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Data] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Category] ([Id], [Name], [Path], [ItemType]) VALUES (N'7f86d686-3021-4db1-8f10-00d4394212a7', N'Category1', N'/Category1', N'Folder')
INSERT [dbo].[Category] ([Id], [Name], [Path], [ItemType]) VALUES (N'2e3ed902-cf01-405d-b5f9-9859be8e291b', N'DataSet', N'DataSet', N'DataSet')
INSERT [dbo].[Category] ([Id], [Name], [Path], [ItemType]) VALUES (N'c6f1fa05-b11a-4f99-985e-ad63c5ab665a', N'Category2', N'/Category2', N'Folder')
ALTER TABLE [dbo].[Category_Data]  WITH CHECK ADD  CONSTRAINT [FK_Category_Data_Category] FOREIGN KEY([Id])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Category_Data] CHECK CONSTRAINT [FK_Category_Data_Category]
GO
USE [master]
GO
