@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="testing" style="height: 820px; width: 100%; margin-bottom: 10px;">
    <bold-report-viewer id="viewer" ajax-before-load="onAjaxRequest" report-service-url="/api/ReportApi"></bold-report-viewer>
</div>

<script type="text/javascript">
    //$(function () {
    //    $.ajaxSetup({
    //        xhrFields: {
    //            withCredentials: true
    //        }
    //    });
    //});

    function onAjaxRequest(args) {
        args.headers.push({ Key: 'Authorization', Value: "Basic " + btoa("guest@boldreports.com:demo") });
    }
</script>

